.wrapper {
	background-image: url(../images/soldier.jpeg);
	height: 100%;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;

}

header {
	background-color: $prim-col;
	width: auto;
	height: 5rem;
	margin-top: 5rem;
	box-shadow: 0rem .4rem 1rem black;

	.logo {
		position: absolute;
		width: 15rem;
		left: 50%;
		top: 0rem;
		transform:translate(-50%) scale(1.2);

	}
}

main {
	display: block;
	position: absolute;
	width: 80%;
	height: 20%;
	top: 40%;
	left: 56%;
	font-size: 4rem;
	transform:translate(-50%);
}

.izbor {
	height: 100%;
	width: 20%;
	display:inline-block;
	text-align: center;	
	margin-right: 1rem;
	background-color: black;
	box-shadow: 0rem 1rem 2rem 0rem black;
	border-radius: 5px;
	color: white;
	padding-top: 5%;
	transition: all .3s;
}

a{
	height: 1rem;
	margin: 1rem;
	padding: 2rem;
	text-decoration: none;
	color: white;
	
}

.logo2  {

	border-radius: 100px;
	height: 14%;
	margin: 0%;
}



li {

	display: inline-block;
	font-size: 2rem;
	top: 7rem;
}

.desno {
	position: absolute;
	right: 5%;

}

.prvi {
	right: 20%;
}

.lijevo {
	position: absolute;
	left: 5%;
}
.drugi {
	left: 20%;
}




@media only screen and (max-width: 1440px) {
	main {
		width: 70%;
		a {
		padding: 0;
		}
	}
}

@media only screen and (max-width: 1065px) {
	main {
		font-size: 1.5rem;

		.izbor {
			height: 50%;
		}
	}
}

@media only screen and (max-width: 630px) {
	main {
		left: 50%;
	}

	.izbor {
		width: 100%;
		margin-bottom: 4rem;
	}
}

