
a{
	padding: 2rem;
	text-decoration: none;
	color: white;
}

a .logo {
	padding: 7rem;
}

.logo2  {

	border-radius: 100px;
	height: 14%;
	margin: 0%;
}

li {

	display: inline-block;
	font-size: 2rem;
	top: 7rem;
}

.desno {
	position: absolute;
	right: 5%;

}

.prvi {
	right: 20%;
}

.lijevo {
	position: absolute;
	left: 5%;
}
.drugi {
	left: 20%;
}
span {
	text-decoration: underline;
}